div.gallery {
  margin: 1px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
  height: auto;
  background-color: #003333;
}

div.gallery:hover {
  border: 3px solid red;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}




    
aside {
    border: 5px  groove #003333;
    background-color:#00ff33 ;
    color:#003333;
    margin-bottom: 1px;
}
