div.galleryProduct {
  margin: 0px;
  border: 5px solid #00ff33;
  float: left;
  max-width: 100%;
 
}

div.galleryProduct:hover {
  border: 5px dotted #00ff33;
 }

div.galleryProduct img {
  width: 300px;
  height: 500px;
}

span.descProduct {
  padding: 5px;
  text-align: left;
}

a:link{
    color: #00ff33;
}

a:visited{
    color: #00ff33;
     text-decoration: none;
}

a:active{
    text-decoration: none;
}


h2{
    margin-left: 5px;

}

/*
  Solo visualizzazione desktop, tutte le altre regole valgono di default per il mobile
*/
@media only screen and (min-width: 768px) {
  div.galleryProduct img {
  width: 300px;
  height: 500px;
  }
  
  span.descProduct {
  padding: 5px;
  float: right;
  text-align: left;
  }
}