div.team {
  margin: 0px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
  background-color: #003333;
}

div.team:hover {
  border: 2px double #777;
}

div.team img {
  width: 200px;
  height: auto;
  }
  
div.team img :hover{
  width: 200px;
  height: auto;
}

.bio{
    margin: 5px;
}

/*
  Solo visualizzazione desktop, tutte le altre regole valgono di default per il mobile
*/
@media only screen and (min-width: 768px) {
    
    div.team img {
  width: 200px;
  height: auto;
  float: left;
  }
    
    .bio{
  margin: 5px;
  float: left;
  }
    
}